footer {
    border-radius: 33px 33px 0px 0px;
    background-color: var(--background-secondary);
    margin: 0px 12px;
    margin-top: 50px;
    color: var(--text-invert);
}

.footer-social {
    display: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-top {
    margin-bottom: 2rem;
}

.icon-flex {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
    padding-top: 2rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}