:root {
    --white: #FFF;
    --gray: #9E9E9E;
    --ice: #F4F4F4;
    --gray-dark: #1E1E1E;
    --black: #000000;
    --font2: 'Outfit', sans-serif;
}

* {
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0px;
}



a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
}

.white {
    color: var(--white);
}

.gray {
    color: var(--gray);
}

.gray-dark {
    color: var(--gray-dark);
}

.black {
    color: var(--black);
}

html {
    margin: 0 auto;
}


.text-white {
    color: var(--white)
}

.text-white {
    color: var(--white)
}


