:root {
    /* Colors */
    --white: #FFF;
    --gray: #9E9E9E;
    --ice: #F4F4F4;
    --gray-dark: #1E1E1E;
    --dark: #1d1d1d;
    --black: #000000;

    /* Typography */
    --text-primary: var(--gray-dark);
    --text-secondary: var(--gray);
    --text-invert: var(--white);
    --text-default: var(--black);
    --text-hover:var(--black);
    
    /* Design */
    --background: var(--white);
    --background-secondary: var(--dark);;
    --paper: var(--ice);

    /* Others */
    --font2: 'Outfit', sans-serif;
    --margin-sm: 2rem;
    --margin-md: 4rem;

    /* Dark Theme */
}



/* Dark Theme */
body {
    background-color: var(--background);
}

* {
    padding: 0px;
    outline: none;
    border: none;
    text-decoration: none;
    margin: 0px;
}



a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
    padding: 0px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}
.text-primary{
    color: var(--text-primary);
}
.text-secondary{
    color: var(--text-secondary);
}
.text-invert{
    color: var(--text-invert);
}



.white {
    color: var(--white);
}

.gray {
    color: var(--gray);
}

.gray-dark {
    color: var(--gray-dark);
}

.black {
    color: var(--black);
}

html {
    margin: 0 auto;
}


.text-white {
    color: var(--white)
}

.text-white {
    color: var(--white)
}