.highlight {
    padding-top: 30px;
}

.highlight-head {
    margin-bottom: 32px;
}

.highlight .highlight-head {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.highlights {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-columns: 1fr;
    gap: 24px 24px;
    grid-auto-flow: row;
    grid-template-areas:
        "item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1 item1"
        "item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2 item2"
        "item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3 item3"
        "item4 item4 item4 item4 item4 item4 item4 item4 item4 item4 item4 item4"
        "item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5";
}



.highlight-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 26px;
}

.highlight-card {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(auto - 26px);
    align-self: auto;
}

.highlight-card:nth-child(1) {
    order: 1;
    flex-grow: 1;
}

.highlight-card:nth-child(2) {
    order: 2;
    flex-grow: 2;
}

.card-wrapper {
    border-radius: 33px;
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: end;
    overflow: hidden;
    position: relative;
}
.card-wrapper:hover .card-bg{
    transform: scale(1.1);
}

.card-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: .5s;
}



.card-bottom {
    margin: 12px;
    background-color: var(--background);
    border-radius: 33px;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    gap: 4px;
}


.card-icon {
    border-radius: 1000px;
    background-color: var(--paper);
    padding: 9px;
    fill: var(--gray-dark);
    
}


.card-icon img:hover {
    cursor: pointer;
    transform: rotate(360deg);
    transition: ease .5s;
}


.card {
    width: 100%;
    height: 300px;
    text-align: center;
}


.item1 {
    grid-area: item1;
}

.item2 {
    grid-area: item2;
}

.item3 {
    grid-area: item3;
}

.item5 {
    grid-area: item5;
}

.item4 {
    grid-area: item4;
}