.hero-project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-bottom: var(--value-sm);
}

.hero-project div {
    display: flex;
    padding: 2rem;
    border-radius: var(--value-sm);
}

.hero-image {
    border-radius: 33px;
    min-height: 50vh;
    width: 100%;
    box-sizing: border-box;
}

.hero-intro {
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    color: var(--text-contrast);
    background-color: var(--background-secondary);
    border-radius: var(--border);
}


#financial-app {
    background: url(../assets/images/financialapp/main.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.tech-flex {
    display: flex;
    align-items: start;
    justify-content: flex-start;
    gap: 6px;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    padding-top: 6px;
}

.card--list {
    display: flex;
    flex-direction: column;
    gap: var(--value-sm);
}

.details--card .title-1 {
    font-weight: bold;
}

.details--intro {
    margin-bottom: var(--value-xs);
}

.details--thumb {
    border-radius: var(--value-sm);
}