/* Conteúdo existente do response.css */

.container-fluid {
    padding: 12px;
    width: 100%;
}

.container {
    margin: 0 auto;
    padding: 28px;
    /* Padrão para dispositivos com largura maior que 0px */
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        /* sm: 540px */
    }
}

@media (min-width: 640px) {
    .container {
        width: 610px;
        /* Ajuste conforme necessário */
    }
}

@media (min-width: 768px) {
    .container {
        width: 780px;
        /* Ajuste conforme necessário */
    }
}

@media (min-width: 1024px) {
    .container {
        width: 992px;
        /* lg: 992px */
    }
    .highlights {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-auto-columns: 1fr;
        gap: 24px 24px;
        grid-auto-flow: row;

        grid-template-areas:
            "item1 item1 item1 item1 item1 item2 item2 item2 item2 item2 item2 item2"
            "item3 item3 item3 item3 item3 item3 item3 item4 item4 item4 item4 item4"
            "item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5 item5";
    }

    .highlights {
        /* Conteúdo existente */
    }
}

@media (min-width: 1280px) {
    .container {
        width: 1140px;
        /* xl: 1140px */
    }

    .highlights {
        /* Conteúdo existente */
    }
}

@media (min-width: 1536px) {
    .container {
        width: 1400px;
        /* 2xl: 1200px */
    }

    .highlights {
        /* Conteúdo existente */
    }
}