@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

.heading-1 {
    font-family: Impact;
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}
.hero-text h1{
    margin-bottom: 16px;
}
.heading-2 {
    font-family: Impact;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 48px */
    letter-spacing: 1.44px;
    text-transform: uppercase;
}

.heading-3 {
    font-family: Impact;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    /* 32px */
    text-transform: uppercase;
}

.tailing-1 {
    font-family: 'Outfit', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    line-height: 76px;
    /* 105.556% */
}

.title-1 {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.title-2 {
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.text-1 {
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.text-2 {
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

a{
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}