.h-100{
    height: 100vh;
}
.w-100{
    width: 100vh;
}
/* Container Flex */
.d-flex {
    display: flex;
  }
  
  /* Direção do Fluxo */
  .flex-row {
    flex-direction: row;
  }
  
  .flex-column {
    flex-direction: column;
  }
  
  /* Alinhamento dos Itens */
  .justify-content-center {
    justify-content: center;
  }
  
  .justify-content-start {
    justify-content: flex-start;
  }
  
  .justify-content-end {
    justify-content: flex-end;
  }
  
  .justify-content-between {
    justify-content: space-between;
  }
  
  .justify-content-around {
    justify-content: space-around;
  }
  
  .align-items-center {
    align-items: center;
  }
  
  .align-items-start {
    align-items: flex-start;
  }
  
  .align-items-end {
    align-items: flex-end;
  }
  
  /* Alinhamento de Conteúdo */
  .align-content-center {
    align-content: center;
  }
  
  .align-content-start {
    align-content: flex-start;
  }
  
  .align-content-end {
    align-content: flex-end;
  }
  
  /* Espaçamento Entre Itens */
  .space-between {
    justify-content: space-between;
  }
  
  space-around {
    justify-content: space-around;
  }
  
  /* Ordenação de Itens */
  .order-first {
    order: -1;
  }
  
  order-last {
    order: 1;
  }
  
  /* Flex Grow e Shrink */
  .flex-grow-1 {
    flex-grow: 1;
  }
  
  flex-shrink-1 {
    flex-shrink: 1;
  }
  
  /* Tamanho Fixo */
  flex-1 {
    flex: 1;
  }
  
  flex-2 {
    flex: 2;
  }
  
  /* Alinhamento de Texto à Esquerda */
  .text-left {
    text-align: left;
  }
  
  /* Alinhamento de Texto ao Centro */
  .text-center {
    text-align: center;
  }
  
  /* Alinhamento de Texto à Direita */
  .text-right {
    text-align: right;
  }
  
  /* Justificar Texto */
  text-justify {
    text-align: justify;
  }
  
  /* Alinhamento de Texto à Esquerda Verticalmente */
  vertical-align-top {
    vertical-align: top;
  }
  
  /* Alinhamento de Texto ao Centro Verticalmente */
  vertical-align-middle {
    vertical-align: middle;
  }
  
  /* Alinhamento de Texto à Direita Verticalmente */
  vertical-align-bottom {
    vertical-align: bottom;
  }
  